# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle
!common/src/main/java/com/tik/zbb/blockstorage/storages/build/
!common/src/main/java/com/tik/zbb/blockstorage/storages/build/**
!common/src/main/java/com/tik/zbb/ai/action/actions/build/
!common/src/main/java/com/tik/zbb/ai/action/actions/build/**

# other
eclipse
run

# Minecraft run directories
forge/runs/
fabric/runs/
neoforge/runs/
